# Application Configuration
NODE_ENV=production
NEXT_PUBLIC_APP_NAME="KVS Demo"
NEXT_PUBLIC_APP_VERSION="1.0.0"
NEXT_PUBLIC_BASE_URL=https://kvs-demo.karsa-dev.my.id
NEXT_PUBLIC_API_URL=https://kvs-demo-api.karsa-dev.my.id/api
NEXT_PUBLIC_KEY=CHANGE_ME
NEXT_PUBLIC_FILE_PATH=https://kvs-demo-api.karsa-dev.my.id/uploads

# File Upload Configuration
MAX_FILE_SIZE=10485760
ALLOWED_FILE_TYPES=image/jpeg,image/png,application/pdf
